<h4>Help for the “author” field</h4>

<p>Use the author field to limit search results to a particular author or authors.</p>

<p>We offer autocomplete on the author field.  Type in a few letters, and we'll show you a drop-down of choices.</p>

<p>You can also enter a filter of your own choosing.  Please note that our author data is formatted like, “Spenser, Edmund, 1552?-1599.“ (last name, first name, and dates of birth and death, where available).  In applying filters, we treat our author data like a tokenized string.  Different ways of punctuating the filter field will produce different results:</p>

<table class="help_table">
    <tr>
        <th class="help_column_1">Query</th>
        <th>Result</th>
    </tr>
    <tr>
        <td class="help_column_1">Edmund Spenser</td>   
        <td>Filters for authors containing either “Edmund“ or “Spenser“ (or both) in the author data.</td>
    </tr>
    <tr>
        <td class="help_column_1">"Edmund Spenser"</td>   
        <td>Finds no matches, since no author name in our data contains the two consecutive words, “Edmund Spenser“. </td>
    </tr>
    <tr>
        <td class="help_column_1">Spenser, Edmund</td>    
        <td>Filters for authors containing either “Edmund“ or "Spenser“ (or both) in our author data.</td>
    </tr>
    <tr>
        <td class="help_column_1">"Spenser, Edmund"</td>   
        <td>Matches to “Spenser, Edmund, 1552?-1599.“ since it contains exact string “Spenser, Edmund“.</td>
    </tr>
    <tr>
        <td class="help_column_1">"Spenser Edmund"</td>   
        <td>Also matches to “Spenser, Edmund, 1552?-1599.“ since the filter ignores the comma.</td>
    </tr>
    <tr>
        <td class="help_column_1">1552</td>   
        <td>Finds a texts whose author data contains “1552“; i.e., all authors who were known to have been born in or died in 1552.</td>
    </tr>
</table>




