<h4>Help for the “original spelling(s)” field</h4>

<p>Original spellings provide a way to search for words as they appeared in the printed text.  Original spellings can vary quote a bit.  For example, “kings” might be spelled as “kings,” “kyngs,” or “kynges.”</p>

<p>In the Query Builder and CQL tabs, “original spelling(s)” are referred to as “word“.</p>

<p>In our phase I index, original spellings have undergone slight typographical normalization.  In cases where the printed text used a glyph to represent a kind of shorthand found in manuscript, we normalize such glyphs to their modern equivalents.  For example, we normalize “commādement” to “commandement”, “yᵉ” to “the”, and “Carassiꝰ” to “Carassius”.</p>

<p>It is possible to search for a phrase by entering a sequence of words.  For example, the phrase “loue the kyng“ (entered without quotation marks) will find all instances of that phrase in the corpus.</p>

<p>The “case and diacritics sensitive” checkbox provides a way to be specific about the finer points of orthography.  Note also that regularizations preserve the case of original spellings.</p>
