<h4>Help for the “title” field</h4>

<p>Use the title field to limit search results to a particular title or titles.</p>

<!--<p>We offer autocomplete on the title field.  Type in a few letters, and we'll show you a drop-down of choices.  Please note that we search for whatever you enter in the entire title, and not just at the beginning of titles.</p>-->

<p>You can also enter a filter of your own choosing.  Please note that our title data is treated like our author data like a tokenized string.  Filters are not case sensistive.  Spellings are not normalized.  Different ways of punctuating the filter field will produce different results:</p>

<table class="help_table">
    <tr>
        <th class="help_column_1">Query</th>
        <th>Result</th>
    </tr>
    <tr>
        <td class="help_column_1">Shepheardes Calender</td>   
        <td>Finds any title containing "Shepheardes" or "Calender" or both, regardless of case.</td>
    </tr>
    <tr>
        <td class="help_column_1">calender shepheardes</td>  
        <td>Also finds any title containing "Shepheardes" or "Calender" or both, regardless of case.</td>
    </tr>
    <tr>
        <td class="help_column_1">calendar shepherds</td>  
        <td>Finds a different set of titles, this set having modernized spellings.</td>
    </tr>
    <tr>
        <td class="help_column_1"> calendar shepherd's</td>  
        <td>Finds a somewhat different set of titles, since this query punctuates the singular possessive correctly.</td>
    </tr>
    <tr>
        <td class="help_column_1">"Shepheardes Calender"</td>   
        <td>Finds any title containing the phrase "Shepheardes Calender".</td>
    </tr>
</table>




