<h4>Help for the “part(s) of speech” field (phase I and II)</h4>

<p>Parts of speech make it possible to search for words based on their syntactical function.</p>

<p>In the Query Builder and CQL tabs, “part(s) of speech” are referred to as “pos“.</p>

<p>Conjunctions are a special case in the phase I and II corpus.  The two “words“ in the comjuction are treated as one word, and the corresponding parts of speech are combined, but separated by the “|“.  For example, the conjunction “I'll“ is tagged with a “pns11|vmb“ part of speech. <b>It is not currently possible to search for conjunction parts of speech in the “Word or phrase“ interface.</b></p>

<p>It's possible to use a regex (regular expression) to search for all parts-of-speech within broad categories:</p>

<table class="help_pos_table">
    <tr><th class="help_pos_td_1">regex</th><th>for part of speech</th></tr>
    <tr><td class="help_pos_td_1">a.*</td><td>adverbs</td></tr>
    <tr><td class="help_pos_td_1">c.*</td><td>conjunctions</td></tr>
    <tr><td class="help_pos_td_1">d.*</td><td>determiner</td></tr>
    <tr><td class="help_pos_td_1">j.*</td><td>adjectives</td></tr>
    <tr><td class="help_pos_td_1">n.*</td><td>nouns</td></tr>
    <tr><td class="help_pos_td_1">pi.*, pn.*, or po.*</td><td>pronouns</td></tr>
    <tr><td class="help_pos_td_1">pp.*</td><td>prepositions</td></tr>
    <tr><td class="help_pos_td_1">uh.*</td><td>interjections</td></tr>
    <tr><td class="help_pos_td_1">v.*</td><td>verbs</td></tr>
</table>
<br>

<p>It's also possible to search for fine-grained parts-of-speech by entering specific values:</p>

<table class="help_pos_table">
    <tr><th class="help_pos_td_1">part of speech</th><th>meaning</th></tr>
    <tr><td class="help_pos_td_1">a-acp</td><td>acp word as adverb</td></tr>
    <tr><td class="help_pos_td_1">av</td><td>adverb</td></tr>
    <tr><td class="help_pos_td_1">av-an</td><td>noun-adverb as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-c</td><td>comparative adverb</td></tr>
    <tr><td class="help_pos_td_1">avc-jn</td><td>comparative adj/noun as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-d</td><td>determiner/adverb as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-dc</td><td>comparative determiner/adverb as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-ds</td><td>superlative determiner as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-dx</td><td>negative determiner as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-j</td><td>adjective as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-jc</td><td>comparative adjective as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-jn</td><td>adj/noun as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-js</td><td>superlative adjective as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-n1</td><td>noun as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-s</td><td>superlative adverb</td></tr>
    <tr><td class="help_pos_td_1">avs-jn</td><td>superlative adj/noun as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-vvg</td><td>present participle as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-vvn</td><td>past participle as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-x</td><td>negative adverb</td></tr>
    <tr><td class="help_pos_td_1">c-acp</td><td>acp word as conjunction</td></tr>
    <tr><td class="help_pos_td_1">cc</td><td>coordinating conjunction</td></tr>
    <tr><td class="help_pos_td_1">cc-acp</td><td>acp word as coordinating conjunction</td></tr>
    <tr><td class="help_pos_td_1">c-crq</td><td>wh-word as conjunction</td></tr>
    <tr><td class="help_pos_td_1">ccx</td><td>negative conjunction</td></tr>
    <tr><td class="help_pos_td_1">crd</td><td>numeral</td></tr>
    <tr><td class="help_pos_td_1">cs</td><td>subordinating conjunction</td></tr>
    <tr><td class="help_pos_td_1">cst</td><td>'that' as conjunction</td></tr>
    <tr><td class="help_pos_td_1">d</td><td>determiner</td></tr>
    <tr><td class="help_pos_td_1">dc</td><td>comparative determiner</td></tr>
    <tr><td class="help_pos_td_1">dg</td><td>determiner in possessive use</td></tr>
    <tr><td class="help_pos_td_1">ds</td><td>superlative determiner</td></tr>
    <tr><td class="help_pos_td_1">dt</td><td>article</td></tr>
    <tr><td class="help_pos_td_1">dx</td><td>negative determiner as adverb</td></tr>
    <tr><td class="help_pos_td_1">fw-fr</td><td>French word</td></tr>
    <tr><td class="help_pos_td_1">fw-ge</td><td>German word</td></tr>
    <tr><td class="help_pos_td_1">fw-gr</td><td>Greek word</td></tr>
    <tr><td class="help_pos_td_1">fw-it</td><td>Italian word</td></tr>
    <tr><td class="help_pos_td_1">fw-la</td><td>Latin word</td></tr>
    <tr><td class="help_pos_td_1">fw-mi</td><td>word in unspecified other language</td></tr>
    <tr><td class="help_pos_td_1">j</td><td>adjective</td></tr>
    <tr><td class="help_pos_td_1">j-av</td><td>adverb as adjective</td></tr>
    <tr><td class="help_pos_td_1">jc</td><td>comparative adjective</td></tr>
    <tr><td class="help_pos_td_1">jc-jn</td><td>comparative adj/noun</td></tr>
    <tr><td class="help_pos_td_1">jc-vvg</td><td>present participles as comparative adjective</td></tr>
    <tr><td class="help_pos_td_1">jc-vvn</td><td>past participle as comparative adjective</td></tr>
    <tr><td class="help_pos_td_1">j-jn</td><td>adjective-noun</td></tr>
    <tr><td class="help_pos_td_1">jp</td><td>proper adjective</td></tr>
    <tr><td class="help_pos_td_1">js</td><td>superlative adjective</td></tr>
    <tr><td class="help_pos_td_1">js-jn</td><td>superlative adj/noun</td></tr>
    <tr><td class="help_pos_td_1">js-vvg</td><td>present participle as superlative adjective</td></tr>
    <tr><td class="help_pos_td_1">js-vvn</td><td>past participle as superlative adjective</td></tr>
    <tr><td class="help_pos_td_1">j-vvg</td><td>present participle as adjective</td></tr>
    <tr><td class="help_pos_td_1">j-vvn</td><td>past participle as adjective,  </td></tr>
    <tr><td class="help_pos_td_1">n1</td><td>singular, noun</td></tr>
    <tr><td class="help_pos_td_1">n1-an</td><td>noun-adverb as singular noun</td></tr>
    <tr><td class="help_pos_td_1">n1-j</td><td>adjective as singular noun</td></tr>
    <tr><td class="help_pos_td_1">n2</td><td>plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-acp</td><td>acp word as plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-an</td><td>noun-adverb as plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-av</td><td>adverb as plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-dx</td><td>determiner/adverb negative as plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-j</td><td>adjective as plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-jn</td><td>adj/noun as plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-vdg</td><td>present participle as plural noun, 'do'</td></tr>
    <tr><td class="help_pos_td_1">n2-vhg</td><td>present participle as plural noun, 'have'</td></tr>
    <tr><td class="help_pos_td_1">n2-vvg</td><td>present participle as plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-vvn</td><td>past participle as plural noun</td></tr>
    <tr><td class="help_pos_td_1">ng1</td><td>singular possessive, noun</td></tr>
    <tr><td class="help_pos_td_1">ng1-an</td><td>noun-adverb in singular possessive use</td></tr>
    <tr><td class="help_pos_td_1">ng1-j</td><td>adjective as possessive noun</td></tr>
    <tr><td class="help_pos_td_1">ng1-jn</td><td>adj/noun as possessive noun</td></tr>
    <tr><td class="help_pos_td_1">ng1-vvn</td><td>past participle as possessive noun</td></tr>
    <tr><td class="help_pos_td_1">ng2</td><td>plural possessive, noun</td></tr>
    <tr><td class="help_pos_td_1">ng2-jn</td><td>adj/noun as plural possessive noun</td></tr>
    <tr><td class="help_pos_td_1">n-jn</td><td>adj/noun as noun</td></tr>
    <tr><td class="help_pos_td_1">njp</td><td>proper adjective as noun</td></tr>
    <tr><td class="help_pos_td_1">njp2</td><td>proper adjective as plural noun</td></tr>
    <tr><td class="help_pos_td_1">njpg1</td><td>proper adjective as possessive noun</td></tr>
    <tr><td class="help_pos_td_1">njpg2</td><td>proper adjective as plural possessive noun</td></tr>
    <tr><td class="help_pos_td_1">np1</td><td>singular, proper noun</td></tr>
    <tr><td class="help_pos_td_1">np2</td><td>plural, proper noun</td></tr>
    <tr><td class="help_pos_td_1">npg1</td><td>singular possessive, proper noun</td></tr>
    <tr><td class="help_pos_td_1">npg2</td><td>plural possessive, proper noun</td></tr>
    <tr><td class="help_pos_td_1">np-n1</td><td>singular noun as proper noun</td></tr>
    <tr><td class="help_pos_td_1">np-n2</td><td>plural noun as proper noun</td></tr>
    <tr><td class="help_pos_td_1">np-ng1</td><td>singular possessive noun as proper noun</td></tr>
    <tr><td class="help_pos_td_1">n-vdg</td><td>present participle as noun, 'do'</td></tr>
    <tr><td class="help_pos_td_1">n-vhg</td><td>present participle as noun, 'have'</td></tr>
    <tr><td class="help_pos_td_1">n-vvg</td><td>present participle as noun</td></tr>
    <tr><td class="help_pos_td_1">n-vvn</td><td>past participle as noun</td></tr>
    <tr><td class="help_pos_td_1">ord</td><td>ordinal number</td></tr>
    <tr><td class="help_pos_td_1">p-acp</td><td>acp word as preposition</td></tr>
    <tr><td class="help_pos_td_1">pc-acp</td><td>acp word as particle</td></tr>
    <tr><td class="help_pos_td_1">pi</td><td>singular, indefinite pronoun</td></tr>
    <tr><td class="help_pos_td_1">pi2</td><td>plural, indefinite pronoun</td></tr>
    <tr><td class="help_pos_td_1">pi2x</td><td>plural, indefinite pronoun</td></tr>
    <tr><td class="help_pos_td_1">pig</td><td>singular possessive, indefinite pronoun</td></tr>
    <tr><td class="help_pos_td_1">pigx</td><td>possessive case, indefinite pronoun</td></tr>
    <tr><td class="help_pos_td_1">pix</td><td>indefinite pronoun</td></tr>
    <tr><td class="help_pos_td_1">pn22</td><td>2nd person, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">pn31</td><td>3rd singular, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">png11</td><td>1st singular possessive, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">png12</td><td>1st plural possessive, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">png21</td><td>2nd singular possessive, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">png22</td><td>2nd person, possessive, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">png31</td><td>3rd singular possessive, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">png32</td><td>3rd plural possessive, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">pno11</td><td>1st singular objective, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">pno12</td><td>1st plural objective, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">pno21</td><td>2nd singular objective, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">pno31</td><td>3rd singular objective, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">pno32</td><td>3rd plural objective, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">pns11</td><td>1st singular subjective, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">pns12</td><td>1st plural subjective, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">pns21</td><td>2nd singular subjective, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">pns31</td><td>3rd singular subjective, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">pns32</td><td>3rd plural objective, personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">po11</td><td>1st singular, possessive pronoun</td></tr>
    <tr><td class="help_pos_td_1">po12</td><td>1st plural, possessive pronoun</td></tr>
    <tr><td class="help_pos_td_1">po21</td><td>2nd singular, possessive pronoun</td></tr>
    <tr><td class="help_pos_td_1">po22</td><td>2nd person possessive pronoun</td></tr>
    <tr><td class="help_pos_td_1">po31</td><td>3rd singular, possessive pronoun</td></tr>
    <tr><td class="help_pos_td_1">po32</td><td>3rd plural, possessive pronoun</td></tr>
    <tr><td class="help_pos_td_1">pp</td><td>preposition</td></tr>
    <tr><td class="help_pos_td_1">pp-f</td><td>preposition 'of'</td></tr>
    <tr><td class="help_pos_td_1">px11</td><td>1st singular reflexive pronoun</td></tr>
    <tr><td class="help_pos_td_1">px12</td><td>1st plural reflexive pronoun</td></tr>
    <tr><td class="help_pos_td_1">px21</td><td>2nd singular reflexive pronoun</td></tr>
    <tr><td class="help_pos_td_1">px22</td><td>2nd plural reflexive pronoun</td></tr>
    <tr><td class="help_pos_td_1">px31</td><td>3rd singular reflexive pronoun</td></tr>
    <tr><td class="help_pos_td_1">px32</td><td>3rd plural reflexive pronoun</td></tr>
    <tr><td class="help_pos_td_1">pxg21</td><td>2nd singular possessive, reflexive pronoun</td></tr>
    <tr><td class="help_pos_td_1">q-crq</td><td>interrogative use, wh-word</td></tr>
    <tr><td class="help_pos_td_1">r-crq</td><td>relative use, wh-word</td></tr>
    <tr><td class="help_pos_td_1">sy</td><td>alphabetical or other symbol</td></tr>
    <tr><td class="help_pos_td_1">uh</td><td>interjection</td></tr>
    <tr><td class="help_pos_td_1">uh-av</td><td>adverb as interjection</td></tr>
    <tr><td class="help_pos_td_1">uh-crq</td><td>wh-word as interjection</td></tr>
    <tr><td class="help_pos_td_1">uh-dx</td><td>negative interjection</td></tr>
    <tr><td class="help_pos_td_1">uh-j</td><td>adjective as interjection</td></tr>
    <tr><td class="help_pos_td_1">uh-jn</td><td>adjective/noun as interjection</td></tr>
    <tr><td class="help_pos_td_1">uh-n</td><td>noun as interjection</td></tr>
    <tr><td class="help_pos_td_1">uh-v</td><td>verb as interjection</td></tr>
    <tr><td class="help_pos_td_1">vb2</td><td>2nd singular present of 'be'</td></tr>
    <tr><td class="help_pos_td_1">vb2-imp</td><td>2nd plural present imperative, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vb2x</td><td>2nd singular present, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbb</td><td>present tense, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbbx</td><td>present tense negative, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbd</td><td>past tense, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbd2</td><td>2nd singular past of 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbd2x</td><td>2nd singular past, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbdp</td><td>plural past tense, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbdx</td><td>past tense negative, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbg</td><td>present participle, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbi</td><td>infinitive, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbm</td><td>1st singular, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbmx</td><td>1st singular negative, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbn</td><td>past participle, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbp</td><td>plural present, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbz</td><td>3rd singular present, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vbzx</td><td>3rd singular present negative, 'be'</td></tr>
    <tr><td class="help_pos_td_1">vd2</td><td>2nd singular present of 'do'</td></tr>
    <tr><td class="help_pos_td_1">vd2-imp</td><td>2nd plural present imperative, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vd2x</td><td>2nd singular present negative, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vdb</td><td>present tense, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vdbx</td><td>present tense negative, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vdd</td><td>past tense, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vdd2</td><td>2nd singular past of 'do'</td></tr>
    <tr><td class="help_pos_td_1">vdd2x</td><td>2nd singular past negative, verb</td></tr>
    <tr><td class="help_pos_td_1">vddp</td><td>plural past tense, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vddx</td><td>past tense negative, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vdg</td><td>present participle, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vdi</td><td>infinitive, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vdn</td><td>past participle, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vdp</td><td>plural present, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vdz</td><td>3rd singular present, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vdzx</td><td>3rd singular present negative, 'do'</td></tr>
    <tr><td class="help_pos_td_1">vh2</td><td>2nd singular present of 'have'</td></tr>
    <tr><td class="help_pos_td_1">vh2-imp</td><td>2nd plural present imperative, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vh2x</td><td>2nd singular present negative, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vhb</td><td>present tense, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vhbx</td><td>present tense negative, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vhd</td><td>past tense, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vhd2</td><td>2nd singular past of 'have'</td></tr>
    <tr><td class="help_pos_td_1">vhdp</td><td>plural past tense, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vhdx</td><td>past tense negative, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vhg</td><td>present participle, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vhi</td><td>infinitive, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vhn</td><td>past participle, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vhp</td><td>plural present, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vhz</td><td>3rd singular present, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vhzx</td><td>3rd singular present negative, 'have'</td></tr>
    <tr><td class="help_pos_td_1">vm2</td><td>2nd singular present of modal verb</td></tr>
    <tr><td class="help_pos_td_1">vm2x</td><td>2nd singular present negative, modal verg</td></tr>
    <tr><td class="help_pos_td_1">vmb</td><td>present tense, modal verb</td></tr>
    <tr><td class="help_pos_td_1">vmb1</td><td>1st singular present, modal verb</td></tr>
    <tr><td class="help_pos_td_1">vmbx</td><td>present tense negative, modal verb</td></tr>
    <tr><td class="help_pos_td_1">vmd</td><td>past tense, modal verb</td></tr>
    <tr><td class="help_pos_td_1">vmd2</td><td>2nd singular past of modal verb</td></tr>
    <tr><td class="help_pos_td_1">vmd2x</td><td>2nd singular present, modal verb</td></tr>
    <tr><td class="help_pos_td_1">vmdp</td><td>plural past tense, modal verb</td></tr>
    <tr><td class="help_pos_td_1">vmdx</td><td>past negative, modal verb</td></tr>
    <tr><td class="help_pos_td_1">vmi</td><td>infinitive, modal verb</td></tr>
    <tr><td class="help_pos_td_1">vmn</td><td>past participle, modal verb</td></tr>
    <tr><td class="help_pos_td_1">vmp</td><td>plural present tense, modal verg</td></tr>
    <tr><td class="help_pos_td_1">vv2</td><td>2nd singular present of verb</td></tr>
    <tr><td class="help_pos_td_1">vv2-imp</td><td>2nd present imperative, verb</td></tr>
    <tr><td class="help_pos_td_1">vv2x</td><td>2nd singular present negative, verb</td></tr>
    <tr><td class="help_pos_td_1">vvb</td><td>present tense, verg</td></tr>
    <tr><td class="help_pos_td_1">vvbx</td><td>present tense negative, verb</td></tr>
    <tr><td class="help_pos_td_1">vvd</td><td>past tense, verb</td></tr>
    <tr><td class="help_pos_td_1">vvd2</td><td>2nd singular past of verb</td></tr>
    <tr><td class="help_pos_td_1">vvd2x</td><td>2nd singular past negative, verb</td></tr>
    <tr><td class="help_pos_td_1">vvdp</td><td>past plural, verb</td></tr>
    <tr><td class="help_pos_td_1">vvdx</td><td>past tense negative, verb</td></tr>
    <tr><td class="help_pos_td_1">vvg</td><td>present participle, verb</td></tr>
    <tr><td class="help_pos_td_1">vvi</td><td>infinitive, verb</td></tr>
    <tr><td class="help_pos_td_1">vvn</td><td>past participle, verb</td></tr>
    <tr><td class="help_pos_td_1">vvp</td><td>plural present, verb</td></tr>
    <tr><td class="help_pos_td_1">vvz</td><td>3rd singular preseent, verb</td></tr>
    <tr><td class="help_pos_td_1">vvzx</td><td>3rd singular present negative, verb</td></tr>
    <tr><td class="help_pos_td_1">xx</td><td>negative</td></tr>
    <tr><td class="help_pos_td_1">zz</td><td>unknown or unparsable token</td></tr>
</table>
<br>

<p>Part-of-speech tagging is performed by <a href="http://morphadorner.northwestern.edu/morphadorner/">MorphAdorner</a>.  Our corpus is processed by MorphAdorner before it is loaded in a Blacklab instance.</p>
