<h4>Help for the “year” field</h4>

<p>Use the year field to limit search results to a particular publication date, dates, or range of dates.</p>

<p>Our publication date data is loaded as is from the TCP XML.  We treat it was a tokenized string, and perform no normalization or cleanup.</p>

<table class="help_table">
    <tr>
        <th class="help_column_1">Query</th>
        <th>Result</th>
    </tr>
    <tr>
        <td class="help_column_1">1533</td>   
        <td>Finds any text with 1533 in the publication date, which may contain other data (e.g., "1533 [31 Dec.]".</td>
    </tr>
    <tr>
        <td class="help_column_1">1533 1579</td>  
        <td>Finds any text with 1533, 1579, or both in the publication date</td>
    </tr>
    <tr>
        <td class="help_column_1">1533 TO 1579</td>  
        <td>Finds any text published between 1533 and 1579 inclusive.</td>
    </tr>
</table>
