<h4>Help for the “part(s) of speech” field</h4>

<p>In the Query Builder and CQL tabs, “part(s) of speech” are referred to as “pos“.</p>

<p>It's possible to use a regex (regular expression) to search for all parts-of-speech within broad categories:</p>

<table class="help_pos_table">
    <tr><th class="help_pos_td_1">regex</th><th>for part of speech</th></tr>
    <tr><td class="help_pos_td_1">av.*</td><td>all adverbs</td></tr>
    <tr><td class="help_pos_td_1">cc.*</td><td>all conjunctions</td></tr>
    <tr><td class="help_pos_td_1">d.*</td><td>all determiners</td></tr>
    <tr><td class="help_pos_td_1">j.*</td><td>all adjectives</td></tr>
    <tr><td class="help_pos_td_1">n.*</td><td>all nouns</td></tr>
    <tr><td class="help_pos_td_1">^pi.*|^pn.*|^po.*</td><td>all pronouns</td></tr>
    <tr><td class="help_pos_td_1">uh.*</td><td>all exclamations</td></tr>
    <tr><td class="help_pos_td_1">v.*</td><td>all verbs</td></tr>
</table>
<br>

<p>It's also possible to search for fine-grained parts-of-speech by entering specific values:</p>

<table class="help_pos_table">
    <tr><th class="help_pos_td_1">part of speech</th><th>meaning</th></tr>    <tr><td class="help_pos_td_1">ab</td><td>an abbreviations</td></tr>
    <tr><td class="help_pos_td_1">acp</td><td>prepositions some of which are also used as adverbs or conjunctions</td></tr>
    <tr><td class="help_pos_td_1">av</td><td>adverb</td></tr>
    <tr><td class="help_pos_td_1">av-d</td><td>determiners as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-j</td><td>adjective as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-n</td><td>noun as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-ord</td><td>ordinal as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-vg</td><td>present participle as adverb</td></tr>
    <tr><td class="help_pos_td_1">av-vn</td><td>past participle as adverb</td></tr>
    <tr><td class="help_pos_td_1">avc</td><td>comparative adverb</td></tr>
    <tr><td class="help_pos_td_1">avc-d</td><td>comparative determiner as adverb</td></tr>
    <tr><td class="help_pos_td_1">avc-j</td><td>comparative adjective as adverb</td></tr>
    <tr><td class="help_pos_td_1">avs</td><td>superlative adverb</td></tr>
    <tr><td class="help_pos_td_1">avs-d</td><td>superlative determiner as adverb</td></tr>
    <tr><td class="help_pos_td_1">avs-j</td><td>superlative adjective as adverb</td></tr>
    <tr><td class="help_pos_td_1">avx</td><td>negative adverb</td></tr>
    <tr><td class="help_pos_td_1">avx-d</td><td>negative determiner as adverb</td></tr>
    <tr><td class="help_pos_td_1">cc</td><td>coordinating conjunction</td></tr>
    <tr><td class="help_pos_td_1">ccx</td><td>negative conjunction</td></tr>
    <tr><td class="help_pos_td_1">crd</td><td>cardinal number</td></tr>
    <tr><td class="help_pos_td_1">crd-m</td><td>a monetary amount</td></tr>
    <tr><td class="help_pos_td_1">crq</td><td>wh- words as interrogative or relative pronouns</td></tr>
    <tr><td class="help_pos_td_1">cs</td><td>conjunction</td></tr>
    <tr><td class="help_pos_td_1">d</td><td>determiner</td></tr>
    <tr><td class="help_pos_td_1">dc</td><td>comparative determiner</td></tr>
    <tr><td class="help_pos_td_1">ds</td><td>superlative determiner</td></tr>
    <tr><td class="help_pos_td_1">dx</td><td>negative determiner</td></tr>
    <tr><td class="help_pos_td_1">emptycell</td><td>a temporary token to mark empty cell eleents</td></tr>
    <tr><td class="help_pos_td_1">fan</td><td>Anglo-Saxon word</td></tr>
    <tr><td class="help_pos_td_1">fdu</td><td>Dutch word</td></tr>
    <tr><td class="help_pos_td_1">fes</td><td>Spanish word</td></tr>
    <tr><td class="help_pos_td_1">ffr</td><td>French wprd</td></tr>
    <tr><td class="help_pos_td_1">fge</td><td>German word</td></tr>
    <tr><td class="help_pos_td_1">fgr</td><td>Greek word</td></tr>
    <tr><td class="help_pos_td_1">fhe</td><td>Hebrew word</td></tr>
    <tr><td class="help_pos_td_1">fin</td><td>American Indian word</td></tr>
    <tr><td class="help_pos_td_1">fit</td><td>italian word</td></tr>
    <tr><td class="help_pos_td_1">fla</td><td>Latin word</td></tr>
    <tr><td class="help_pos_td_1">fmi</td><td>dialect word or word in</td></tr>
    <tr><td class="help_pos_td_1">fsc</td><td>Scottish word</td></tr>
    <tr><td class="help_pos_td_1">fwe</td><td>Welsh word</td></tr>
    <tr><td class="help_pos_td_1">fxx</td><td>word in a non-Roman script, mainly Greek or Hebrew</td></tr>
    <tr><td class="help_pos_td_1">j</td><td>adjective</td></tr>
    <tr><td class="help_pos_td_1">j-av</td><td>adjective from adverb</td></tr>
    <tr><td class="help_pos_td_1">j-mi</td><td>adjective</td></tr>
    <tr><td class="help_pos_td_1">j-vg</td><td>present participle as adjective</td></tr>
    <tr><td class="help_pos_td_1">j-vmd</td><td>adjective from past modal verb</td></tr>
    <tr><td class="help_pos_td_1">j-vn</td><td>past participle as adjective</td></tr>
    <tr><td class="help_pos_td_1">jc</td><td>comparative adjective</td></tr>
    <tr><td class="help_pos_td_1">jc-vg</td><td>comparative adjective from present participle</td></tr>
    <tr><td class="help_pos_td_1">jc-vn</td><td>comparative adjective from past participle</td></tr>
    <tr><td class="help_pos_td_1">jnn</td><td>proper adjective</td></tr>
    <tr><td class="help_pos_td_1">js</td><td>superlative adjective</td></tr>
    <tr><td class="help_pos_td_1">js-vg</td><td>superlative adjective from present participle</td></tr>
    <tr><td class="help_pos_td_1">js-vn</td><td></td></tr>
    <tr><td class="help_pos_td_1">n1</td><td>singular noun</td></tr>
    <tr><td class="help_pos_td_1">n1-j</td><td>adjective used as noun</td></tr>
    <tr><td class="help_pos_td_1">n1-mi</td><td>miscellaneous word class used as noun</td></tr>
    <tr><td class="help_pos_td_1">n1-uh</td><td></td></tr>
    <tr><td class="help_pos_td_1">n1-vg</td><td>noun from present participle (gerund)</td></tr>
    <tr><td class="help_pos_td_1">n1-vm</td><td>noun from modal verb present</td></tr>
    <tr><td class="help_pos_td_1">n1-vmd</td><td>noun from modal verb past</td></tr>
    <tr><td class="help_pos_td_1">n1-vn</td><td>noun from past participle (gerund)</td></tr>
    <tr><td class="help_pos_td_1">n2 </td><td>plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-crq</td><td>crq word used as noun</td></tr>
    <tr><td class="help_pos_td_1">n2-j</td><td>adjective used as plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-mi</td><td>miscellaneous wordclass used as plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-ord</td><td>ordinal used as plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-uh</td><td>exclamation used as plural noun</td></tr>
    <tr><td class="help_pos_td_1">n2-vg</td><td>plural noun from present participle</td></tr>
    <tr><td class="help_pos_td_1">n2-vn</td><td></td></tr>
    <tr><td class="help_pos_td_1">ng1</td><td>single noun, genitive</td></tr>
    <tr><td class="help_pos_td_1">ng1-j</td><td></td></tr>
    <tr><td class="help_pos_td_1">ng1-mi</td><td>miscellaneous wordclass used as genitive noun</td></tr>
    <tr><td class="help_pos_td_1">ng1-ord</td><td>ordinal used as genitive noun</td></tr>
    <tr><td class="help_pos_td_1">ng1-vg</td><td>genitive noun from present participle</td></tr>
    <tr><td class="help_pos_td_1">ng1-vn</td><td>genitive noun from past participle</td></tr>
    <tr><td class="help_pos_td_1">ng2</td><td>genitive plural noun</td></tr>
    <tr><td class="help_pos_td_1">ng2-j</td><td>adjective used as plural noun genitive</td></tr>
    <tr><td class="help_pos_td_1">ng2-vn</td><td>past participle as genitive plural</td></tr>
    <tr><td class="help_pos_td_1">nn1</td><td>proper noun</td></tr>
    <tr><td class="help_pos_td_1">nn2</td><td>a plural name</td></tr>
    <tr><td class="help_pos_td_1">nng1</td><td>proper noun, genitive</td></tr>
    <tr><td class="help_pos_td_1">nng2</td><td>genitive plural proper noun</td></tr>
    <tr><td class="help_pos_td_1">nnp</td><td>A particle that is part of a name</td></tr>
    <tr><td class="help_pos_td_1">ord</td><td>ordinal number</td></tr>
    <tr><td class="help_pos_td_1">pi</td><td>indefinite pronoun</td></tr>
    <tr><td class="help_pos_td_1">pi-d</td><td>determiner as indefinite pronoun</td></tr>
    <tr><td class="help_pos_td_1">pi2</td><td>determiner as indefinite plural pronoun</td></tr>
    <tr><td class="help_pos_td_1">pi2-d</td><td>determiner as plural indefinite pronoun</td></tr>
    <tr><td class="help_pos_td_1">pi2x</td><td>negative indefinite pronoun plural</td></tr>
    <tr><td class="help_pos_td_1">pig</td><td>indefinite pronoun, genitive</td></tr>
    <tr><td class="help_pos_td_1">pig-d</td><td>determiner as indefinite pronoun, genitive</td></tr>
    <tr><td class="help_pos_td_1">pig2-d</td><td>determiner as indefinite pronoun, genitive plural</td></tr>
    <tr><td class="help_pos_td_1">pigx</td><td>negative indefinity pronoun, genitive</td></tr>
    <tr><td class="help_pos_td_1">pigx-d</td><td>determiner as negative indefinite pronoun, genitive</td></tr>
    <tr><td class="help_pos_td_1">pix</td><td>negative indefinite pronoun</td></tr>
    <tr><td class="help_pos_td_1">pix-d</td><td>negative determiner as indefinit pronoun</td></tr>
    <tr><td class="help_pos_td_1">pn</td><td>personal pronoun</td></tr>
    <tr><td class="help_pos_td_1">png</td><td>personal pronoun, genitive</td></tr>
    <tr><td class="help_pos_td_1">pno</td><td>personal pronoun, objective</td></tr>
    <tr><td class="help_pos_td_1">pns</td><td>personal pronoun, subjective</td></tr>
    <tr><td class="help_pos_td_1">po</td><td>possessive pronoun</td></tr>
    <tr><td class="help_pos_td_1">pr</td><td>a reflexive pronoun</td></tr>
    <tr><td class="help_pos_td_1">prg</td><td>genitive of reflexive pronoun</td></tr>
    <tr><td class="help_pos_td_1">prt</td><td>a particle</td></tr>
    <tr><td class="help_pos_td_1">sy</td><td>a symbol</td></tr>
    <tr><td class="help_pos_td_1">uh</td><td>exclamation</td></tr>
    <tr><td class="help_pos_td_1">uh-av</td><td>exclamation from adverb</td></tr>
    <tr><td class="help_pos_td_1">uh-crq</td><td>exclamation from crq word</td></tr>
    <tr><td class="help_pos_td_1">uh-j</td><td></td></tr>
    <tr><td class="help_pos_td_1">uh-mi</td><td>exclamation from miscellaneous wordclass</td></tr>
    <tr><td class="help_pos_td_1">uh-n</td><td>noun as exclamation</td></tr>
    <tr><td class="help_pos_td_1">uh-v</td><td>verb used as exclamation</td></tr>
    <tr><td class="help_pos_td_1">uhx</td><td>negative exclamation</td></tr>
    <tr><td class="help_pos_td_1">vm2</td><td>modal verb, 2nd person singular</td></tr>
    <tr><td class="help_pos_td_1">vmb</td><td>modal verb, present</td></tr>
    <tr><td class="help_pos_td_1">vmbp</td><td>plural present of modal verb</td></tr>
    <tr><td class="help_pos_td_1">vmbx</td><td>negative modal verb</td></tr>
    <tr><td class="help_pos_td_1">vmd</td><td>modal verb, past</td></tr>
    <tr><td class="help_pos_td_1">vmd2</td><td>modal verb, past, 2nd person singular</td></tr>
    <tr><td class="help_pos_td_1">vmd2x</td><td></td></tr>
    <tr><td class="help_pos_td_1">vmdp</td><td></td></tr>
    <tr><td class="help_pos_td_1">vmdx</td><td>modal verb, past, negative</td></tr>
    <tr><td class="help_pos_td_1">vv2</td><td>verb, present, 2nd person singular</td></tr>
    <tr><td class="help_pos_td_1">vvb</td><td>verb, present</td></tr>
    <tr><td class="help_pos_td_1">vvbx</td><td>verb,  present, negative</td></tr>
    <tr><td class="help_pos_td_1">vvd</td><td>verb, past</td></tr>
    <tr><td class="help_pos_td_1">vvd2</td><td>verb, past, 2nd person singular</td></tr>
    <tr><td class="help_pos_td_1">vvdp</td><td>verb, past, plural</td></tr>
    <tr><td class="help_pos_td_1">vvdx</td><td>verb, past, negative</td></tr>
    <tr><td class="help_pos_td_1">vvg</td><td>verb, present participle</td></tr>
    <tr><td class="help_pos_td_1">vvi</td><td></td></tr>
    <tr><td class="help_pos_td_1">vvm</td><td>first person singular of 'be'</td></tr>
    <tr><td class="help_pos_td_1">vvmx</td><td></td></tr>
    <tr><td class="help_pos_td_1">vvn</td><td>verb, past participle</td></tr>
    <tr><td class="help_pos_td_1">vvnx</td><td></td></tr>
    <tr><td class="help_pos_td_1">vvp</td><td>verb, present, plural</td></tr>
    <tr><td class="help_pos_td_1">vvz</td><td>verb, 3rd person singular</td></tr>
    <tr><td class="help_pos_td_1">vvzx</td><td></td></tr>
    <tr><td class="help_pos_td_1">wd</td><td>this tag is introduced in manual review to identify tokens that the automatic parser got wrong</td></tr>
    <tr><td class="help_pos_td_1">xx</td><td>negative</td></tr>
    <tr><td class="help_pos_td_1">z0</td><td></td></tr>
    <tr><td class="help_pos_td_1">zz</td><td>this tag is introduced in manual review to identify tokens that the automatic parser got wrong</td></tr>
</table>
<br>

<p>Part-of-speech tagging is performed by <a href="http://morphadorner.northwestern.edu/morphadorner/">MorphAdorner</a>.  Our corpus is processed by MorphAdorner before it is loaded in a Blacklab instance.</p>

