@font-face {
    font-family: 'Inl vmnw wnt';
    src: url('../font/INLVRG__.eot');
    src: local('Inl vmnw wnt'),
    	 url('../font/INLVRG__.TTF') format('truetype');
    
}

body {
    /*background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: -350px -310px;
    background-attachment: scroll;*/

    background-image: url(https://earlyprint.org/assets/img/press.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
    /*padding-top: 60px;*/
    padding-bottom: 40px;
}

a:link,
a:visited,
a:active,
a:hover {
	text-decoration: none;
}

a.ui-state-active {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	background-color: #f5f5f5;
}a.ui-state-active:hover {
	outline: none;
}

a.ui-menu-item-wrapper {
	cursor: pointer;
}

.ui-autocomplete.dropdown-menu:before {
	/*content: "Values found";*/
	display: block;
	color:white;
	background-color: #337ab7;
	border-bottom: 1px solid #2e6da4;
	box-shadow: 0px 0px 8px #DDD;
	font-weight: 700;
	padding: 3px 12px;
	margin-bottom: 5px;
	margin-top: -5px;
}
.dropdown-menu > li > a:active,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.ui-menu .ui-menu-item .ui-state-hover,
.ui-menu .ui-menu-item .ui-state-active
 {
	color: #262626;
	text-decoration: none;
	background-color: #ddd;
}
geany main/webapp/css/main.css
hr {
	border-color: #000;
	opacity: 0.1;
}

.navbar-logo-container {
	float: left;
	height: 1px;
	overflow: visible;
	margin-left: 15px;
}

@media (min-width: 768px) {
	.navbar-logo-container {
		margin-right: 15px;
		margin-left: 0px;
	}
}
@media (max-width: 992px) {
	.navbar > .container {
		width: auto;
	}
}

.navbar-logo {
	width:100px;
	height:100px;
	z-index: 9000;
	background-image: url(../img/logo_100x100.png)
}

.navbar-logo-margin {
	margin-left: 100px !important;
}

.navbar-brand {
	color: #dddddd !important;
}

.navbar-fixed-top {
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.progress-bar {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

.haspadding {
	padding: 5px;
}

.tab-content {
	padding-top: 15px;
}

.contentbox {
	background-color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	/*margin-bottom: 20px;*/
	border: 1px solid #cccccc;
}

.resultcontainer {
	margin-top: 5px;
}
.resultcontainer td {
	overflow: hidden;
}.resultcontainer tr > *:first-child {
	padding-left: 6px;
}
.resultstable th, 
.resultstable td {
	padding: 0 0.4em;
}

.modal-fullwidth {
	width:100%;
	padding-left:17px;
	padding-right:17px;
}

.modal-fullwidth > .modal-dialog {
	margin: 30px auto;
	width: 100%;
	max-width:1170px;
}

/* CodeMirror editor */
.cm-s-default {
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
}


.lightbg {
	background-color: rgba(255,255,255,0.6);
	border: 1px solid #cccccc;
}

.green {
	color: #0e774a;
}

table {
	width: 100%;
	/*table-layout: fixed;*/
}

td {
	vertical-align: top;
}

th {
	text-align: left;
	background-color: #ffffff;
}
thead > tr {
	border-bottom: 1px solid #aaaaaa;	
}

tr:hover {
	background-color: rgba(0,0,0, 0.1);
}

tr.concordance {
	border-bottom: 1px solid #ffffff;
	cursor: pointer;
}

.documentrow > td {
	padding-bottom: 15px;
}

.group-size-indicator {
	margin-bottom: 2px;
}.group-size-indicator > .progress-bar {
	/*  
		Do not shrink smaller than the text inside the bar.
		Greater widths are set using min-width.
	*/
	
	width: auto; 
	padding: 0px 2px;
}

#filteroverview {
	color: #888888;
	font-size: 85%;
	padding-left: 1px;
}

/* article */

div.hitscroll {
	display:none; /* unhide with js */
	position: fixed;
	top: 100px;
	left: 60%;
	background-color: #444444;
	border: #222222 1px solid;
	z-index: 9001;	
	padding: 10px;
	border-radius: 5px;
}

div.hitscroll a {
	color: #eeeeee; 
}


.hl {
	font-weight: bold;
    color: #b10932;
}

.hl.active {
    text-decoration: underline;
    background: #FFF;
}

span.word {
	font-family: "Inl vmnw wnt", "Helvetica Neue", "Helvetica", "Arial,sans-serif";
}

span.p, span.paragraph {
	display: block;
	margin: 0 0 10px;
}

span.s, span.sentence {
	/* No special layout (yet) */
}

/* e.g. TEI lb element (insert line break) */
span.lb:after, span.line-beginning:after {
	content: '\A';
}

/* e.g. TEI pb element (insert horizontal rule) */
span.pb, span.page-beginning {
    display: block;
    border-top: 1px solid black;
    margin: 10px 0;
}

.linenumber {
	color: #aaaaaa;
	font-weight: bold;
}

/* Single-page */

.no-results-found {
    padding: 2cm;
    text-align: center;
    font-style: italic;
}

.inline-concordance {
	font-size: 12px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;
	padding: 0px 8px;
}


a[data-bls-sort], a.dropdown-toggle {
	cursor: pointer;
}

#querybox {
	width:100%;
	resize: none;
	margin-bottom: 10px;
}

#totalsReport {
	color: #888;
	font-size: 85%;
}

#totalsReport {
	position: absolute;
    top: 20px; /* align with padding of #results */
    right: 20px;
    display: flex;
    align-items: center;
}

#totalsReportText {
	order: 2;
}

#totalsSpinner {
	display: none;
	order: 1
}

#totalsLimitedWarning {
	display: none; /* toggled in css */
}

.btn.nohover {
	cursor: initial;
	box-shadow: none;
}

.btn.btn-default.nohover {
	background-color: white!important;
	border-color: #ccc!important;
}

.btn.btn-info.nohover {
	background-color: #5bc0de!important;
	border-color: #46b8da!important;
}

.btn.btn-primary.nohover {
	background-color: #337ab7!important;
	border-color: #2e6da4!important;
}

.btn.btn-success.nohover {
	background-color: #5cb85c!important;
	border-color: #4cae4c!important;
}

.btn.btn-warning.nohover {
	background-color: #f0ad4e!important;
	border-color: #eea236!important;
}

.btn.btn-danger.nohover {
	background-color: #56d84f!important;
	border-color: #42d43a!important;
}

#searchContainer, #filterContainer {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#filterContainer > .tab-content {
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden; /* required due to negative margin-right of contents causing scrollbar otherwise */
}

.bl-token-container {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 4px;

	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border: 1px solid #ccc
}

.pagination {
	margin: 0px;
}.pagination > li > a {
	/* No float shenanigans, they mess up the baseline of any container around pagination */
	display: inline-block;
	float: none;
}

#resultTabsContent {
	/* Important for position of the spinner */
	position: relative;
	min-height: 110px;
}

.searchIndicator {
	color: white;
	background-color: rgba(0,0,0,0.25);
	border-radius: 1000px;

	font-size: 80px;
	padding: 10px;
	margin-left: -50px;

	z-index: 1000;
}

.groupselect-container {
    display: inline-flex;
    flex-wrap: nowrap;
    max-width:100%;
    margin-bottom: 5px;
}
.groupselect-container > .groupselect {
    flex: 1 1 auto;
    width: auto!important;
    min-width: 0px!important;
}
.groupselect-container > .groupselect > button {    
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
}
.groupselect-container .dummybutton {
	flex: none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}


.resultgroupdetails,
.results-incomplete-warning {
	border-radius: 100px;
	margin-bottom: 5px;
}

.resultgroupname {
	font-style: italic;
	display: inline-block;
	overflow-x: hidden;
	margin-bottom: -5px;
	max-width: 150px;
	text-overflow: ellipsis;
	padding-right: 1px; /* :after quote gets cut off sometimes due to overflow-hidden */
}
.resultgroupname:before {
	content: "'";
}.resultgroupname:after {
	content: "'";
}

.clearviewgroup {
	font-weight: 700;
	text-decoration: underline!important;
	padding-left: 2px;
}

#searchFormDiv h3 {
	font-size: 1.4em;
}

/* header for when search for is hidden */

#searchFormDivHeader {
	background: white;
	font-size: 18px;
	padding: 8px 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#querySummary {
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 0.35em;
}

/* simple search upload buttons */
.upload-button-container {
	position: relative;
}
.upload-button {
	position: absolute;
	overflow: hidden;
	right: 15px;
	top: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.upload-button input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0px;
	padding-left: 100%;
	overflow: hidden;
	opacity: 0;
	background: transparent;
	z-index: 2;
}

/* 
	Minor bootstrap-select overrides.
	Do not display the select all button,
	as it causes a massive query to be fired off when used on grouping.
	This can be removed if https://github.com/silviomoreto/bootstrap-select/issues/1614 is ever fixed
*/

.bs-select-all {
	display: none!important;
}
.bs-deselect-all {
	/* pretend we're the only button there */
	border-radius: 3px!important;
	width: 100%!important;
	font-weight: bold;
}
.bootstrap-select small.text-muted {
	padding-left: 0px!important;
}

/*
	Some bootstrap tab customization 
*/

.nav-tabs.subtabs {
	border-bottom: none;
}
.nav-tabs.subtabs > li {
	margin-bottom: 0;
}
.nav-tabs.subtabs > li > a {
	border-radius: 0 0 4px 4px;
	padding: 4px 15px;
}
.nav-tabs.subtabs > li.active > a,
.nav-tabs.subtabs > li> a:hover {
	border-color: transparent #ddd #ddd #ddd;
}

/* new for earlyprint.org */

.navbar {
}

h2 {
    font-size: 2.0em;
    font-family: "IM Fell English", serif; }
}

#tlyPageGuideWrapper {
    display: none;
}

.row {
    background-color: #ffffff;
}

.filterfield {
    padding-right: 20px;
}

/* Simplifications */

#id {
    display:none;
}

.upload-button {
    display:none;
}

#displaydate, #lang, #estc, #extent, #fromInputFile, #idno, #publisher, #pubplace,
#div_simplesearch_within {
    display:none;
}

.hideWithinSelect {
    display: none;
}

/* CUSTOMIZATIONS */

.help_widget {
    /*font-weight: bold;
    font-size: 125%;*/
    font-size: 80%;
    font-weight: normal;
    padding-left: 1em;
}

#help_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 1px;
    top: 1px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#help_modal_content {
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 400px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    box-shadow: 10px 10px 5px #444444;
    overflow-y: hidden;
}

.help_modal_close_wrapper {
    height: 40px;
}

.help_modal_close {
    position: fixed;
    background-color: white;
    font-weight: bold;
    font-size: 100%;
    float: right;
    clear: both;
    width: 60%;
    padding-left: 57%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #444444;
}

.help_modal_spacer {
    width: 60%;
    height: 40px;
}

.extra_bottom_padding {
    padding-bottom: 2em;
}

#help_modal_text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-size: 1.1em;
    height: 360px;
    overflow-y: scroll;
}

#help_modal_text > h4 {
    font-family: "IM Fell English", serif;
    font-size: 1.5em;
    font-weight: bold;
}

.help_pos_table {
    width: 50%;
    margin-left: 20px;
}

.help_pos_td_1 {
    width: 33%;
}

/* from earlyprint.org */

/**
 * Added by JRL
 */
.fell-sc {
  font-family: "IM Fell English SC", serif; }

.fell {
  font-family: "IM Fell English", serif; }

.block-link {
  background-color: #2a7ae2; }

.help_table {
    width: 66%;
    margin-left: 20px;
}

.help_column_1 {
    width: 33%;
}

#new_page_heading {
    font-size: 2.0em;
    font-family: "IM Fell English", serif;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    float:left;
}

#new_page_heading_link {
    font-weight: bold;
    font-size: 1.25em;
    font-family: "IM Fell English", serif;
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 500;
    float:right;
    margin-right: 50px;
}

#new_page_heading_text {
    font-size: 90%;
    padding-right: 2em;
    padding-left: 1em;
    clear: both;
}

.properties_column {
    display: none;
}

.metadata_column {
    display: table-cell;
}

.per_doc_tr {
    height: 0.75em;
}
.per_doc_td {
    overflow: hidden;
    white-space: nowrap;
    padding-left: 0.4em;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.doc_inline_tr {
    display: none;
    padding-top: 1em;
    padding-top: 1em;
    font-size: 0.9em;
}

.doc_inline_td {

}

.doc_inline_left {
    margin-left: 30%;
    display: inline-block;
    width: 20em;
    text-align: right;
}

.doc_inline_match {
    font-weight: bold;
}

.doc_inline_right {
}

.token_heading {
    font-weight: bold;
    padding-top: 5px;
    padding-left: 15px;
    color: #386336;
    background-color: #dff2de;
    width: 100%;
    max-width: 348px;
}

/* OVERRIDE BOOTSTRAP */

.bl-token-container .panel-danger {
    border-color: #cdebcc;
}

.bl-token-container .panel-danger .panel-heading {
    color: #386336;
    background-color: #dff2de;
    border-color: #cdebcc;
    font-weight: bold;
}

.bl-token-container .panel-heading>.close {
    font-weight: bold;
}

.bl-token-container .btn-danger {
    color: #fff;
    background-color: #386336;
    border-color: #386336;
}

.bl-token-container .text-danger {
    color: #386336;
}

/* SUPER SIMPLE */

.super_simple_control_spacer {
    display: inline-block;
    width: 80px;
}

.super_simple_checkbox_label {
    margin-right: 1em;
}

/*.simple_search_more {
    display: none;
}
*/

#super_simple_proximity_text {
    width: 33%;
    margin-left: 1em;
    display: inline;
}

/* JQUERY AUTOCOMPLETE */
        
.ui-menu {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow': hidden
}

/* RETROFIT STYLE FOR NEW MENU */

.site-header {
    border-bottom: 1px solid #e8e8e8;
    min-height: 55.95px;
    background-color: #4f4f4f;
    position: sticky;
    top: 0;
    z-index: 999;
}

.site-title, .site-title:visited {
    color: #e8e8e8;
}

.i {
    font-style: italic;
}
.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: #e8e8e8;
    text-decoration: none;
}

a.site-title:hover, a.site-title:focus {
    color: #e8e8e8;
}

.site-nav {
    float: right;
    line-height: 54px;
}

.site-nav label {
    display: none;
}

.site-nav .nav-trigger {
    display: none;
}

.site-nav .menu-icon {
    display: none;
}

.site-nav .p-nested-dropdowns {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.site-nav .page-link {
    color: #e8e8e8;
    line-height: 1.5;
    text-decoration: none;
}

.site-nav .p-nested-dropdowns li {
    padding: 0px 8px;
    margin: 0;
    position: relative;
    font-family: "IM Fell English", serif;
    font-size: 1.2em;
}

.site-nav .p-nested-dropdowns ul {
    border: 1px solid #999999;
    background-color: #f9f9f9;
    color: #111111;
    font-size: 0.80em;
    left: 0;
    position: absolute;
    top: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 175px;
    display: none;
}

.site-nav .p-nested-dropdowns ul li {
    background-color: #f9f9f9;
}

.site-nav .p-nested-dropdowns ul li ul{
    border: 1px solid #999999;
    background-color: #f9f9f9;
    color: #111111;
    font-size: 0.80em;
    left: -175px;
    top: -0px;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 175px;
    display: none;
}

.site-nav .p-nested-dropdowns ul li ul li {
    background-color: #f9f9f9;
}


